Используя данные о хоккеистах (скачать можно здесь), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие: а) роста, б) BMI.

In [15]:
import pandas as pd
import numpy as np
from scipy import stats

In [10]:
df = pd.read_csv('hockey_players.csv', encoding="ISO-8859-1")
df.head(3)

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111

In [13]:
df.duplicated().sum()

0

### Рост

In [34]:
fin_h = df[df["country"]=='FIN'].height
nor_h = df[df["country"]=='NOR'].height
den_h = df[df["country"]=='DEN'].height

In [41]:
h = stats.f_oneway(fin_h, nor_h, den_h)
h

F_onewayResult(statistic=36.05816727743872, pvalue=7.369962129724664e-16)

In [42]:
0.05 > h.pvalue

True

### BMI

In [40]:
fin_h = df[df["country"]=='FIN'].bmi
nor_h = df[df["country"]=='NOR'].bmi
den_h = df[df["country"]=='DEN'].bmi

In [43]:
b = stats.f_oneway(fin_h, nor_h, den_h)
b

F_onewayResult(statistic=36.05816727743872, pvalue=7.369962129724664e-16)

In [44]:
0.05 > b.pvalue

True

## Вывод

Отличие по данным показателям является статистически значимым.